body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-plus-jakarta-sans: "Plus Jakarta Sans";

  /* font sizes */
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-azure: #edfeff;
  --color-darkturquoise: #0cbbc7;
  --color-gray-100: #191619;
  --color-teal: #197e85;

  /* Gaps */
  --gap-xl: 20px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-20xl: 39px;
}
