.cover-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkturquoise);
  width: 1920px;
  height: 80px;
}
.gallery,
.music,
.profile,
.videos {
  position: absolute;
  top: 31px;
  left: 273px;
}
.gallery,
.profile,
.videos {
  left: 352px;
}
.gallery,
.profile {
  left: 479px;
}
.profile {
  left: 150px;
}
.frame-child,
.image-39-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-child {
  background-color: #edfeff;
  width: 1440px;
  height: 550px;
}
.image-39-icon {
  width: 1920px;
  height: 1000px;
  object-fit: cover;
  opacity: 0.1;
}
.with-stellar-one-click {
  position: absolute;
  top: 180px;
  left: 736px;
  line-height: 22px;
  display: inline-block;
  width: 447px;
}
.a-powerful-online {
  position: absolute;
  top: 40px;
  left: 570px;
  font-size: 44px;
  display: inline-block;
  color: var(--color-gray-100);
  width: 779px;
}
.get-started-free {
  position: relative;
  letter-spacing: 0.01em;
}
.arrow-back-1-icon {
  width: 11px;
  position: relative;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.get-started-free-parent {
  position: absolute;
  top: 251px;
  left: 866px;
  background-color: var(--color-darkturquoise);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  gap: 10px;
  text-align: left;
  font-size: 16px;
  color: var(--color-white);
}
.mask-group-icon {
  position: absolute;
  top: 370px;
  left: 478px;
  width: 964px;
  height: 361px;
  object-fit: contain;
}
.rectangle-parent {
  position: absolute;
  top: 80px;
  left: 0;
  width: 1920px;
  height: 1000px;
  text-align: center;
  color: #878787;
}
.events,
.shop,
.subscribe {
  position: absolute;
  top: 31px;
  left: 606px;
}
.events,
.subscribe {
  left: 722px;
}
.subscribe {
  left: 847px;
}
.exclusive-membership {
  position: relative;
}
.exclusive-membership-wrapper {
  position: absolute;
  top: 21px;
  left: 1552px;
  border: 1px solid var(--color-teal);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 50px;
  color: var(--color-teal);
}
.cover {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-plus-jakarta-sans);
}
